body {
  margin: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

/* common classes */
section {
  margin-top: 3rem;
}

.container {
  max-width: 1380px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  display: inline-block;
  width: 157px;
  height: 46px;
  background: url("../images/Gochella_Logo.png");
  background-size: cover;
}

.btn {
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  padding: 9px 16px;
  cursor: pointer;
}

.primary {
  color: #5472D3;
}

.btn-primary {
  color: #FFFFFF;
  background: #0D47A1;
}

.btn-secondary {
  color: #FFFFFF;
  background: #0d48a189;
}

.flex-justify-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-center-content {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mt-3 {
  margin-top: 2rem;
}

/* End:Common classes */

/* navbar section */
.nav {
  height: 50px;
  width: 100%;
  background-color: transparent;
  position: relative;
}

.nav>.nav-header {
  display: inline;
}


.nav>.nav-btn {
  display: none;
}

.nav>.nav-links {
  display: inline;
  float: right;
  font-size: 18px;
  margin-top: 0.25rem;
}

.nav>.nav-links>input {
  margin-right: 1.65rem;
}

.nav>#nav-check {
  display: none;
}

@media (max-width:800px) {
  .nav>.nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .nav>.nav-btn>label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav>.nav-btn>label:hover,
  .nav #nav-check:checked~.nav-btn>label {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .nav>.nav-btn>label>span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #373737;
  }

  .nav>.nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    margin: unset
  }

  .nav>.nav-links>input {
    display: block;
    width: 100%;
    margin: 0;
  }

  .nav>#nav-check:not(:checked)~.nav-links {
    height: 0px;
  }

  .nav>#nav-check:checked~.nav-links {
    height: 17vh;
    overflow-y: auto;
  }



}



/* End:navbar section */

/* headline content */
.headline {
  width: 100%;
  height: 50vh;
  min-height: 350px;
  background: url('../images/background.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -0.15rem;
  padding-top: 8rem;
}

.headline h1 {
  color: #fff;
  text-align: center;
  line-height: 0;
  font-size: 2.2rem;
}

/* search bar */
.search-box {
  display: flex;
  margin: auto;
  margin-top: 8rem;
  background-color: #fff;
  width: 800px;
  height: 55px;
  border-radius: 6px;
}

.search-box .form-group {
  display: flex;
  width: 100%;
}

.search-box input {
  border: none;
  outline: none;
}

.search-box .line {
  height: 35px;
  border: solid 1px #9095A0;
  align-self: center;
  margin-right: 1rem;
}

.search-box .bar-icon {
  align-self: center;
  padding: 10px 20px;
}

.search-box button {
  padding: 0 50px;
  margin: 10px 20px;
  color: #fff;
  letter-spacing: 1px;
}

@media (max-width:800px) {
  .search-box {
    display: unset;
    height: 140px;
    width: auto;
    margin: auto;
  }

  .search-box button {
    display: block;
    margin: 10px auto;
  }

  .search-box .line {
    display: none;
  }
}

/* End:search bar */
/* End:headline content */

/* Events */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  justify-content: space-around;
}

.card {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card .card-image {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

.card-content {
  padding: 20px;
}


.card .text {
  color: #323842;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

.card .pricing {
  color: #0D47A1;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.calendar {
  margin-bottom: 10px;
}

/* center-flex to adjust between icon and text */
.card .center-flex {
  display: flex;
  align-items: center;
}

.card .center-flex span {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

.card .center-flex img {
  margin-right: 10px;
}

.card .calendar span {
  color: #0D47A1;
}

.card .position span {
  color: #6E7787;
}

/* .collection-card .avator {
  position: absolute;
  bottom: 0;
  left: 40px;
  transform: translateY(50%);
  width: 60px;
  height: 60px;
  border-radius: 50px;
  transition: 300ms;
} */

/* End:Events */

/* Slider display */

.logo-slider {
  overflow: hidden;
  padding: 30px 0 0 0;
  white-space: nowrap;
  position: relative;
}

.logo-slider:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 45s slide infinite linear;
}

.logos-slide img {
  width: 183px;
  margin: 0 40px;
}


@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

/* End:Slider display */


/* Footer */
.footer-main {
  background-color: #171a1f;
  color: #DEE1E6;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 10px;
  margin: 0 auto;
  max-width: 100%;
}

.footer-grid .logo {
  width: 200px;
  height: 80px;
  background: url("../images/logo_sbg.png");
  background-size: cover;
}

.footer-main h4 {
  font-size: 1.2rem;
}

.footer-main p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.footer-main span {
  font-weight: 400;
  font-size: 11.9px;
  line-height: 22px;
}

.addon-container {
  display: flex;
  align-items: center;
}

.addon-container img {
  position: absolute;
  margin-left: 7px;
}

.addon-container input[type="text"] {
  padding: 9px 30px;
  border: 1px solid #71C4EF;
  border-radius: 4px 0 0 4px;
  background-color: #000000;
  color: white;
}

.addon-container button {
  padding: 4.8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.footer-main .social-group {
  display: table;
  margin-left: auto;
}

.footer-main .social-group img {
  margin: 5px;
}

.footer-main hr {
  border-top: 1px solid white;
  margin-bottom: 3rem;
}

.footer-main h5 {
  text-align: center;
}

.copyright {
  display: flex;
  align-items: center;
  position: relative;
}

.footer-main .language {
  margin-right: auto;
}

.footer-main .language select {
  background: transparent;
  padding: 4px 15px;
  border-radius: 9px;
  color: white;
}

.footer-main .copyright-tag {
  text-align: center;
  flex-grow: 1;
}

@media (max-width: 1024px) {
  .footer-grid {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    padding-left: 20px;
    text-align: center;
  }

  .social-group {
    display: table;
    margin: 2rem auto 0 auto;
  }
}

@media (max-width: 768px) {
  .footer-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding-left: 20px;
  }

  .copyright {
    display: unset;
  }

  .copyright select {
    width: 100%;
  }
}


/* --------------------------
---------- Colour styles ----------- 
---------------------------*/





/* End:Footer */



/* Content Style */
/* Interactive Effect */
/* Display this style when screen-width is lower than 425px*/