/* RESET */
/* FONTS to be used */
 /* POPPINS */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
  /* MULISH */
   @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');
   /* Encode Sans */
  @import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@700&family=Mulish:wght@300&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ul {
    list-style: none;
  }
  
  a{
    text-decoration: none;
  }
  
  /* BASE STYLES */
  body {
    background-color: #f2f3f3;
    font-family: 'Poppins', sans-serif;
  }
  
  /* NORMAL STYLES */
  .header {
    position: fixed;
    width: 100%;
  }
  
  .icon {
    margin-right: 3px;
    color: rgba(255, 255, 255, 0.17);
  }

  .bottom-bar {
    background-color: #FFFFFF;

  }
  
  .bottom-bar__content {
    min-height: 60px;
    max-width: 1200px;
    padding: 0 4px;
    margin: 0 auto;  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    vertical-align: middle;
    display: flex;
    column-gap: 10px;
    align-items: center;
  }
  
  .logo__img {
    height: 30px;
  }
  
  .logo__text {
    font-size: 22px;
    color: black;
    font-weight: bold;
    letter-spacing: -0.5px;
    font-family: "Poppins", sans-serif;
  }
  .highlight{
    color:#0D47A1;    
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
  }
  .nav {
    transition: all 0.3s ease-in-out;
  }
  
  .nav__list {
    display: flex;
    column-gap: 15px;
  }

   
  .btn{
    color: #FFFFFF;
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    border-radius: 6px;
    border:none;
    padding: 8px 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s;
    background-color:#5472D3;
    padding-right:25px;
    padding-left:25px;
   }
  
 
  .login{
    background-color:#5472D3;
  }
  .signup{
    background-color:#0D47A1;
  }
  .login:hover, #login:hover {
    cursor:pointer;
    background-color:  #0D47A1;
    box-shadow: #5472D3 1px 1px 2px 3px;
  }
  .signup:hover , #signup:hover{
    cursor:pointer;
    background-color: #5472D3;
    box-shadow: #0D47A1 1px 1px 2px 3px;
  }
  
  .hamburger {
    cursor: pointer;
    display: none;
  }
  
  .bar {
    height: 2px;
    width: 27px;
    background-color: #181717;
    margin: 5px 0;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
  }
  
  /* For JS */
  .nav--open {
    left: 50% !important;
  }
  
  .hamburger--open .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }
  
  .hamburger--open .bar:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger--open .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }

  .background{
    position:fixed; 
    padding-top:4%;
    width:100%;
    height:200vh;
  }
  .main-bg{
    background:url("./assets/background.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center top;
    position: relative;
    width: 100%;
    height: 900px;
    padding-top:8%;
    margin-left: auto;
    margin-right: auto;

  }
  .main-content{
    text-align: center;
    font-weight:bold;
    font-family: "Encode Sans", sans-serif;
  }
  .section-1{
    font-size: 56px;
    color:#FFFFFF;
    padding-bottom:2%;
  }
  .section-2{
   color: #71C4EF;
   font-size: 68px;
  }
  .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    
  }
  .right{
    float: right;
  }
  .left{
    float: left;
  }
  .main-search{
    position: relative;
    display: inline-block;
    top:60vh;
    margin-top:40px; 
    border: 1px solid #cac9c9;
    border-radius: 6px;
    color: black;
    background-color:white;
    width:870px;
    height:67px;
  }
  .bx{
    color: #0D47A1;
    width:40px;
    height:40px;
  }
  #bx-search{
    padding-top:9px;
    padding-right: 2px;
    padding-left:6%;
  }
  #search-input{
    border: none;
    width:400px;
    border-radius:6px;
    height: 40px;
    padding-top:5px;
    padding-left:6%;
  }
  #search-input:hover, #search-map:hover{
    border: none;
    box-shadow:#0D47A1 1px 1px 3px 4px;
  }
  #search-input:active, #search-map:active{
    border:1px solid #5472D3;
    box-shadow:#5472D3 1px 1px 2px 3px ;
  }
  
  ::placeholder {
    color: #323842;
    opacity: 1; 
  }
  
  ::-ms-input-placeholder { 
    color: #323842;
  }
  .search-text{
    padding-top: 2%;
    /* border: 3px solid salmon; */
  }

  .bx-map{
    margin-top: 3%;
    padding-left:2%;
  }
 
  .vertical{

    height:60%; 
    border-left:3px solid #484a4d;
 
  }

  .search-location{
    padding-top: 2%;
   
  }

  #search-map{
    border: none;
    width:200px;
    border-radius:6px;
    height: 40px;
    padding-top:5px;
    padding-left:8%;
  }
  .search_btn{
    background-color: #0D47A1;
    text-align: end;
    margin: 2px 20px;
    padding-left: 30px;
    padding-right:30px;
    padding-top: 10px;
    font-weight: 'Mulish', sans-serif;
    float:right;
  }
  .search_btn:hover{
    background-color:#5472D3;
    box-shadow: #5472D3 1px 1px 2px 3px;
  }
  
    /* MEDIA QUERIES */
    @media (max-width: 650px) {
      .nav {
        position: fixed;
        top: 90px;
        left: -100%;
        transform: translateX(-50%);
        width: 100%;
        padding: 10px 0 25px;
      }
    
      .nav__list {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
      }
      .btn {
        font-size: 11px;
        padding: 7px 17px;
      }
    
      .hamburger {
        display: block;
      }
      .background{
        padding-top:9%;
      }
      .section-1{
        font-size: 26px;
        padding-bottom:2%;
      }
      .section-2{
       font-size: 38px;
      }
      .content{
        display: flex;
      }
      .main-search{
        position: relative;
        display: flex;
        flex-direction:space-around;
        align-items: center;
        top:35vh;
        margin-top:2px; 
        width:450px;
        height: 100px;
      }
      #search-input{
        width:70%;
      }
      #search-map{
        padding-left:8px;
        width:50%;
      }
      .search_btn{
        margin-top:2%;
       padding-left:6px;
       padding-right:6px;
       width:46px;
      }
    }
    @media (min-width: 650px) and (max-width:950px) {
    
   
      .background{
        padding-top:8%;
      }
      .section-1{
        font-size: 44px;
        padding-bottom:1%;
      }
      .section-2{
       font-size: 56px;
      }
      .content{
        display: flex;
        flex-direction:space-between;
      }
      .main-bg{
        height:1200px;
      }
      .main-search{
        position: relative;
        top:42vh;
        margin-top:2px; 
        width:650px;
        height: 100px;
      }
      .left{
        padding-top: 4%;
        padding-left:5%;
      }
      .right{
        padding-top:4%;
      }
      #search-input{
        width:210px;
      }
      #search-map{
        width:40%;
      }
     .search_btn{
     padding-left: 7px;
     padding-right:7px;
     }
      }
  @media (min-width: 950px) and (max-width:1160px) {
    
   
    .background{
      padding-top:5%;
    }
    .section-1{
      font-size: 46px;
      padding-bottom:1%;
    }
    .section-2{
     font-size: 58px;
    }
    .content{
      display: flex;
      flex-direction:space-evenly;
      /* align-items: center; */
    }
    .main-search{
      position: relative;
      top:60vh;
      margin-top:2px; 
      width:750px;
      height: 110px;
    }
    .left{
      padding-top: 4%;
      padding-left:8%;
    }
    .right{
      padding-top:4%;
    }
    #search-input{
      width:250px;
    }
    #search-map{
      width:40%;
    }
   
    }
